<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ApplicationShortcuts">
      <Component Id="StartMenuShortcutComponent" Directory="ApplicationProgramsFolder" Guid="*">
        <Shortcut
          Id="ApplicationStartMenuShortcut"
          Name="Timbre"
          Description="Launch Timbre"
          Target="[INSTALLFOLDER]timbre.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\Bartek\Timbre"
          Name="StartMenuShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
